.form {

    &__items {
        width: 438px;
        height: 463px;
        background: #FFFFFF;
        border: 1px solid $background-lightgrey;
        border-radius: 8px;
        padding: 20px 6px 20px 12px;
        margin-bottom: 10px;
    }
    
    &__btn {
        text-align: end;
    }
}