.user {
    width: 420px;
    height: 73px;
    background: $background-lightgrey;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 10px;

    &__option {
        color: $font-grey;
        margin-right: 7px;
    }

    & div {
        margin-bottom: 7px;
    }
}