.users {
    padding-top: 19px;
    padding-left: 34px;
    padding-right: 62px;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    &__search {
        text-align: end;
    }
}